@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

@media screen and (min-width: 768px) and (max-width: 1279px) {

header {
    overflow: hidden;
    width: 100%;
    height: auto;
}
.login {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 1280px;
    height: 40px;
    padding: 0 10px;
    margin: 0 auto;
    line-height: 40px;
}
.login>ul>li {
    float: left;
    color: #aaa;
    margin-right: 25px;
}
.login>ul>li>a {
    font-size: .8rem;
    color: #aaa;
}
.login input {
    width: 150px;
    border: 1px solid gray;
    border-radius: 5px;
}
.login button {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

.menu {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #eee;
}
.menu-box {
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
    max-width: 100%;
    width: 1280px;
    height: 50px;
    margin: 0 auto;
    padding: 0 10px;
}
.logo {
    display: flex;
    align-items: center;
    position: absolute;
}
.logo>img {
    width: 200px;
}
.menu-box i {
    /* position: absolute;
    top: 40px; */
    height: 50px;
    font-size: 1.5rem;
    line-height: 50px;
}
#menu-slide {
    margin: 0 auto;
}
#menu-slide>li {
    float: left;
    width: 100px;
    line-height: 50px;
    text-align: center;
}
#menu-slide>li>a:hover {
    font-weight: 500;
}
#submenu {
    display: none;
    position: absolute;
    z-index: 1;
    border: 1px solid lightgray;
    border-top: 0;
}
#submenu>li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100px;
    padding: 10px 5px;
    line-height: normal;
    font-size: 0.8rem;
    background-color: rgba(255,255,255,0.9);
}
#submenu>li:hover>a {
    font-weight: 700;
}
#subsubmenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100px;
    z-index: 1;
    border: 1px solid lightgray;
}
#subsubmenu>li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 10px 5px;
    line-height: normal;
    font-size: 0.8rem;
    background-color: rgba(255,255,255,0.9);
}
#subsubmenu>li:hover {
    font-weight: 700;
}

section {
    overflow: hidden;
    width: 100%;
}
.choose {
    width: 100%;
    border-bottom: 1px solid lightgray;
    padding: 15px;
}
.choose>div {
    max-width: 100%;
    width: 1280px;
    height: auto;
    margin: 0 auto;
}
.choose>div>h3 {
    width: max-content;
    margin: 0 auto;
}
.choose>div>ul {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    width: 550px;
    margin: 15px auto;
}
.choose>div>ul>li {
    height: 30px;
    line-height: 30px;
    font-size: 0.9rem;
    margin: 0 15px;
}
.choose>div>ul>li:hover {
    font-weight: 500;
}

.product {
    max-width: 1280px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.product>ul {
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-end;
    margin: 10px 0;
}
.product>ul>li {
    padding: 0 10px;
    font-size: .8rem;
}
.product>ul>li:hover{
    font-weight: 500;
}
.product>div {
    display: flex;
    flex-flow: wrap row;
    max-width: 1100px;
    width: 85vw;
    margin: 50px auto;
}
.pd-box {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    overflow: hidden;
    max-width: 200px;
    width: 15vw;
    margin: 3vw 1vw;
}
.thumb {
    overflow: hidden;
    max-width: 200px; /*10vw*/
    width: 15vw;
    max-height: 200px;
    height: 15vw;
    margin-bottom: 10px;
    /* border: 1px solid black; */
}
.thumb>img {
    max-width: 200px;
    width: 15vw;
}
.thumb>img:hover {
    animation: thumb 0.5s both;
}
@keyframes thumb {
    from{ transform: scale(1);}
    to{
        transform: scale(1.3);
    }
}
.pd-box>p {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    height: 2.4rem;
    font-size: .8rem;
    text-align: center;
}
.pd-box>span {
    max-width: 200px;
    width: 15vw;
    border-top: 1px solid lightgray;
    text-align: center;
}
.pd-box>span p{
    height: 2.4rem;
    font-size: .8rem;
}
.pd-box>span>p:first-child {
    color: #ccc;
}
.pd-box>span>p:last-child {
    color: rgb(200, 0, 0);
    font-size: .9rem;
    font-weight: bold;
}
.pd-box>span>p>del {
    font-weight: normal;
    color: lightgray;
    margin-right: 10px;
}

.page {
    width: max-content;
    height: 150px;
    line-height: 150px;
    margin: 0 auto;
}
.page>ul {
    display: flex;
    flex-flow: wrap row;
}
.page>ul>li {
    padding: 0 10px;
}
.page i {
    color: lightgray;
}

footer {
    width: 100%;
    height: 80px;
    border-top: 1px solid lightgray;
}

}